In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from IPython.display import display

url = 'https://www.drafthistory.com/index.php/positions/qb' 
# GET request to the URL
response = requests.get(url)
tables = {}
# Check if the request was successful
if response.status_code == 200:
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    # Find all tables in the HTML content, print the number found.
    tables = soup.find_all('table')
    print(f"Number of tables found: {len(tables)}")

    # Iterate over all tables and print a snippet to identify the correct one
    for i, table in enumerate(tables):
        print(f"\nTable {i}:")
        print(table.prettify()[:1000])  # Print snippet of table
else:
    print(f"Failed to fetch the webpage. Status code: {response.status_code}")

Number of tables found: 3

Table 0:
<table align="center" border="1">
 <tr bgcolor="#99cc99" valign="center">
  <td colspan="8">
   <center>
    <h1>
     Quarterbacks
    </h1>
   </center>
  </td>
 </tr>
 <tr bgcolor="#ccccff">
  <th>
   Year
  </th>
  <th>
   No.
  </th>
  <th>
   Round
  </th>
  <th>
   Pick
  </th>
  <th>
   Player
  </th>
  <th>
   Name
  </th>
  <th>
   Team
  </th>
  <th>
   College
  </th>
 </tr>
 <tr bgcolor="#ffffff">
  <td align="center">
   2024
  </td>
  <td align="center">
   1
  </td>
  <td align="center">
   1
  </td>
  <td align="center">
   1
  </td>
  <td align="center">
   1
  </td>
  <td align="left">
   Caleb Williams
  </td>
  <td align="left">
   Bears
  </td>
  <td align="left">
   USC
  </td>
 </tr>
 <tr bgcolor="#ccccff">
  <td>
  </td>
  <td align="center">
   2
  </td>
  <td align="center">
   1
  </td>
  <td align="center">
   2
  </td>
  <td align="center">
   2
  </td>
  <td align="left">
   Jayden Daniels
  </td>
  <td align="left">
   Commanders
  </td>
  <td align="lef

Table 1:
<table align="center" bgcolor="#ccccff" border="0" cellpadding="0" cellspacing="0" width="90%">
 <tr align="center">
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/db">
    DB
   </a>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/db">
    DB
   </a>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/db">
    DB
   </a>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/db">
    DB
   </a>
  </td>
 </tr>
 <tr align="center">
  <td>
  </td>
  <td>
  </td>
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/lb">
    LB
   </a>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/lb">
    LB
   </a>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
   <a href="https://www.drafthistory.com/index.php/positions/lb">
    LB
   <

Table 2:
<table align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
 <tr valign="top">
  <td>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/qb">
     Quarterbacks
    </a>
   </p>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/rb">
     Running Backs
    </a>
   </p>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/wr">
     Wide Receivers
    </a>
   </p>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/te">
     Tight Ends
    </a>
   </p>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/c">
     Centers
    </a>
   </p>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/g">
     Guards
    </a>
   </p>
   <p align="center">
    <a href="https://www.drafthistory.com/index.php/positions/t">
     Tackles
    </a>
   </p>
  </td>
  <td>
   <p align="center">
    <a hr

In [7]:
table_index = 0  # Replace with the correct table index after identifying
df = pd.read_html(str(tables[table_index]), header=0)[0]

display(df.head())
print(df.columns)
# reset columns to row[0], drop that row, reset index
df.columns = df.iloc[0]
df = df[1:]
df.reset_index(drop=True, inplace=True)
display(df.head(10))

,Quarterbacks,Quarterbacks.1,Quarterbacks.2,Quarterbacks.3,Quarterbacks.4,Quarterbacks.5,Quarterbacks.6,Quarterbacks.7
0,Year,No.,Round,Pick,Player,Name,Team,College
1,2024,1,1,1,1,Caleb Williams,Bears,USC
2,NaN,2,1,2,2,Jayden Daniels,Commanders,Louisiana State
3,NaN,3,1,3,3,Drake Maye,Patriots,North Carolina
4,NaN,4,1,8,8,Michael Penix,Falcons,Washington

Index(['Quarterbacks', 'Quarterbacks.1', 'Quarterbacks.2', 'Quarterbacks.3',
       'Quarterbacks.4', 'Quarterbacks.5', 'Quarterbacks.6', 'Quarterbacks.7'],
      dtype='object')

0  Year No. Round Pick Player             Name        Team          College
0  2024   1     1    1      1   Caleb Williams       Bears              USC
1   NaN   2     1    2      2   Jayden Daniels  Commanders  Louisiana State
2   NaN   3     1    3      3       Drake Maye    Patriots   North Carolina
3   NaN   4     1    8      8    Michael Penix     Falcons       Washington
4   NaN   5     1   10     10    J.J. McCarthy     Vikings         Michigan
5   NaN   6     1   12     12           Bo Nix     Broncos           Oregon
6   NaN   7     5   15    150  Spencer Rattler      Saints   South Carolina
7   NaN   8     5   36    171    Jordan Travis        Jets    Florida State
8   NaN   9     6   17    193       Joe Milton    Patriots        Tennessee
9   NaN  10     6   42    218      Devin Leary      Ravens         Kentucky

In [8]:
# Fill down the NaN values in the 'Year' column
df['Year'] = df['Year'].fillna(method='ffill')
display(df.head(10))

0  Year No. Round Pick Player             Name        Team          College
0  2024   1     1    1      1   Caleb Williams       Bears              USC
1  2024   2     1    2      2   Jayden Daniels  Commanders  Louisiana State
2  2024   3     1    3      3       Drake Maye    Patriots   North Carolina
3  2024   4     1    8      8    Michael Penix     Falcons       Washington
4  2024   5     1   10     10    J.J. McCarthy     Vikings         Michigan
5  2024   6     1   12     12           Bo Nix     Broncos           Oregon
6  2024   7     5   15    150  Spencer Rattler      Saints   South Carolina
7  2024   8     5   36    171    Jordan Travis        Jets    Florida State
8  2024   9     6   17    193       Joe Milton    Patriots        Tennessee
9  2024  10     6   42    218      Devin Leary      Ravens         Kentucky

In [ ]:
# TO DO:
# rename columns:
# Name, Year Drafted, Round, Pick, Overall, Team, College

In [9]:
#Export csv
csv_path = "../sourcing_artifacts/draft_history.csv"
df.to_csv(csv_path, index=False)

###  ** ALL REMAINING CELLS: NOT USED **